#notifications {
  display: inline-block;

  .header {
    background: #f7f7f7;
    min-height: 4rem;
    font-size: 2rem;
  }

  .open .dropdown-menu {
    display:block;
    top:auto;
  }

  .btn-group .dropdown-menu {
    font-size:14px;
  }
}
