#contact-flash {
  width: 60%;
  margin: auto;

  .close {
    span {
      font-size: .7em !important;
    }
  }
  .alert-success {
    background-color: #429C3F;
  }

  .thank-you {
    color: #FFFFFF;
  }
};
